# 1. List Access
### Create a list of five fruits and print the third fruit from the list.

In [1]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

for f in fruits:
    print(f)

apple
banana
cherry
date
elderberry

# 2. Tuple Unpacking
### You are given a tuple with three values: name, age, and city. Unpack them into separate variables and print each.

In [2]:
t = ("Abdul Rauf" , 21 , "Nawabshah")

# unpack into varibles 
name , age , city = t

print(name)
print(age)
print(city)

Abdul Rauf
21
Nawabshah

# 3. Modify String
### Take  a  string  with  extra  spaces  and  mixed  case  letters.  Remove  the  spaces  and  convert  the  text  to lowercase

In [5]:
text = "Abdul Rauf Jatoi"

print(text.replace(" ", "").lower())

abdulraufjatoi

# 4. If-Else Statement
### Write a program to check if a number is positive, negative, or zero

In [6]:
num = int(input("Num: "))

if num == 0:
    print("Zero")
elif num > 0:
    print("Positive")
else:
    print("Negative")

Positive

# 5. Create and Call a Function
### Create a function that prints "Hello, welcome to Python Lab!" and call it.

In [8]:
def hello():
    print("Hello, welcome to Pythob Lab! ")

hello()

Hello, welcome to Pythob Lab!

# 6. List Update
### Create a list of student names. Change the second name to "Ali".

In [10]:
names = ['Rauf', 'Ahsan', 'Umar']
names[1] = 'Ali'
print(names)

['Rauf', 'Ali', 'Umar']

# 7. Reading List using Loops
### Create a list of numbers and print each number multiplied by 2 using a loop

In [12]:
nums = [1,2,3,4,5]

for i in nums:
    print(i*2)

2
4
6
8
10

# 8. List Comprehension
### Create a new list that contains the square of all even numbers from 1 to 10.

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
n_l = []
for i in l:
    n_l.append(i*i)

print(n_l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 9. Use of String Methods
### Take a string sentence, replace the word "bad" with "good", and split the sentence into words.

In [15]:
sen = "Im a bad programmer"

n_sen = sen.replace("bad", "good")

print(n_sen)

print(n_sen.split())

Im a good programmer
['Im', 'a', 'good', 'programmer']

# 10. Tuple Conversion and Update
### Convert a tuple to a list, change one element, and convert it back to a tuple.

In [24]:
t = (1,2,3)
l = [t]
print(type(l))
print(len(l))

l[0] = (4,5,6)

n_t = tuple(l)
print(n_t)
print(type(n_t))

<class 'list'>
1
((4, 5, 6),)
<class 'tuple'>

# 11. Dictionary Manipulation
### Create a dictionary with keys "name" and "age". Add a new key "grade" and change the value of "age"

In [25]:
dic = {"Name": "Rauf", "Age": 21,}
dic["grade"] = "2nd Year BSAI"
dic["Age"] = 22
print(dic)

{'Name': 'Rauf', 'Age': 22, 'grade': '2nd Year BSAI'}

# 12. If-Elif-Else with Logical Operator
### Ask user for age and student status. If age > 18 and student is true, print "Eligible".

In [29]:
age = int(input("Age: "))
student = input("Yes or No: ")
student.lower()

if age >= 18 and student in ["yes","yes ","ye"]:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

# 13. Function with Default Parameter
### Create  a  function  that  takes  a  name  and  prints  "Welcome,  name!".  If  no  name  is  given,  print  "Welcome, Guest!"

In [31]:
def greet(name="Guest!"):
    print("Welcome", name)

greet("Rauf")
greet()

Welcome Rauf
Welcome Guest!

# 14. Passing List to Function
### Write a function that accepts a list of numbers and prints the sum of all numbers.

In [32]:
def add(numbers):
    sum = 0
    for i in numbers:
        sum += i
    return sum

print(add([1,2,3,4,5]))

15

# 15. Use Escape Characters
### Print a sentence that includes quotes, new line, and a tab space using escape characters.

In [34]:
sentence = "He said, \"Hello!\"\n\tHow are you?"

print(sentence)

He said, "Hello!"
	How are you?

# 16. Nested If with List and String
### Create a list of 5 student names. If the name starts with "A", convert it to uppercase and print it.

In [35]:
names = ['Rauf', 'Ahsan', 'Umar', "Rehman" , 'Adil' ]

for name in names: 
    if name.startswith("A"):
        print(name.upper())

AHSAN
ADIL

# 17. Function Returning Dictionary
### Create a function that takes name, age, and subject as arguments and returns them in a dictionary format.

In [ ]:
def todic(name , age , subject):
    return {"Name": name, "Age": age, "Subject": subject}

todic("rauf", 21, 'PAI')

{'Name': 'rauf', 'Age': 21, 'Subject': 'PAI'}

# 18. String Formatting and Conditional Check
### Ask  user  to  enter  marks  of  3  subjects.  Use  a  function  to  calculate  average  and  print  a  formatted  message with grade using if-elif.

In [39]:
marks = []

for i in range(3):
    marks.append(int(input("Enter marks: ")))

avg = sum(marks)/len(marks)

print(avg)

20.666666666666668

# 19. Join Lists and Sort
### Create two lists of numbers, merge them, sort the result in descending order, and print the final list.

In [45]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = l1 + l2
l3.sort()  
print(l3)  

l3 = sorted(l1 + l2)
print(l3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# 20. Function with List Comprehension & Return
### Write a function that takes a list of numbers, removes all odd numbers using list comprehension, and returns the new list.

In [47]:
l = [1,2,3,4,5,6,7,8,9,10]

for i in l:
    if i % 2 != 0: 
        print(i)

1
3
5
7
9